<a href="https://colab.research.google.com/github/nimish08/summer19-ML/blob/master/Data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
list=[1,2,3,4]
list1=[3,4,5,5]
df=pd.DataFrame([list,list1],columns=['age','value','name','marks'])

In [3]:
df

   age  value  name  marks
0    1      2     3      4
1    3      4     5      5

In [4]:
list3=['Nimish',2,3]
da=pd.DataFrame([list3],columns=['Name','Age','Marks'])
da

     Name  Age  Marks
0  Nimish    2      3